<div class="container-fluid">
    <!--abre el Nav-->
    <nav class="navbar fixed-top navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Carpinteria CH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a data-scroll class="nav-link" href="#home">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#historia">Origenes</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#visitanos">Contacto</a>
                </li>
    </nav>
    <!--cierra el Nav-->
    <!--abre el home-->
    <div id="home" class="row aling-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1>Carpinteria CH</h1>
            <h3>Diseñamos y fabricamos muebles contemporáneos estandar y a medida.
                Contamos con un equipo altamente calificado de arquitectos y carpinteros. Fábrica ubicada en
                Berazategui </h3>
        </div>
    </div>
    <!--cierra el home-->
    <footer>
        <p id="text-footer" class="text-center" text-color>
        <h2 style="color: lightgray;">Un poco sobre nosotros</h2>
        </p>
    </footer>
    <!--abre el historia-->
    <div id="historia" class="row aling-items-center py-4">

        <div class="col-lg-2 col-m-3 offset-lg-2 d-none d-sm-block" id="historia1">

        </div>
        <div class="col-lg-2 col-m-3 d-none d-sm-block" id="historia2">
        </div>
        <div class="col-12 d-sm-none" id="historia3">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h3>
                Somos una carpinteria familiar de 5ta generacion dedicada a la fabricacion e instalacion de muebles
                solucionando problemas de espacio con diseños modernos
            </h3>
        </div>
    </div>
    <!--cierra el historia-->
    <!--Abre el Productos-->
    <div id="productos">
        <footer>
            <p id="text-footer" class="text-center" text-color>
            <h2 style="color: lightgray;">Nuestros Productos</h2>
            </p>
        </footer>
        {{#each productos}}
        <div class="card-group">
            <!--tarjeta1-->
            <div class="col">
                <div class="card{{id}}" style="width: 18rem;"></div>
                <img src={{imagen}} class="card-img-top" alt="Imagen de targeta">
                <div class="card-body">
                    <h1>{{titulo}}</h1>
                    <p>{{cuerpo}}</p>

                </div>

            </div>
        </div>
        {{/each}}
        <!--cierra el Productos-->
        <footer>
            <p id="text-footer" class="text-center" text-color>
            <h2 style="color: lightgray;">Contactanos!</h2>
            </p>
        </footer>
        <!--abre conocenos -->
        <div id="visitanos" class="row py-4">
            <div class="col-md-5 offset-md-2 py-3">
                <h2>Visitanos!</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6555.431783040081!2d-58.210909!3d-34.762749!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32f4a1768534d%3A0x3d0e04fbf10c9ce8!2sAv.%2014%204601%2C%20B1880BFA%20Berazategui%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1622771191586!5m2!1ses-419!2sar"
                    style="border:0;" allowfullscreen=""></iframe>
            </div>
            <!--cierra el conocenos -->
            <!-- inicio de contactanos -->
            <div id="contactanos" class="col-md-3">
                <form action="/" method="POST">
                    <div class="row">
                        <div class="col"> Nombre
                            <input type="text" class="form-control" name="nombre">
                        </div>
                        <div class="col"> Apellido
                            <input type="text" class="form-control" name="apellido">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            name="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Tel</label>
                        <input type="tel" class="form-control" name="tel">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            name="comentarios"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                {{message}}
            </div>

            <!-- cierre contactanos -->
        </div>

    </div>
    <footer>
        <p id="text-footer" class="text-center" text-color>Diseñado por: Hernan Caballero</p>
    </footer>